#films {
    width: 300px;
}
.films {
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: aquamarine;
    display: inline-block;
    vertical-align: top;
}
.serials {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: aquamarine;
    display: inline-block;
    vertical-align: top;
}
button {
    color: azure;
    border: none;
    border-radius: 10px;
    background-color: brown;
    width: 200px;
    height: 40px;
}
button:hover {
    color:green;
    transition: 0.5s;
}
